.element__like {
    width: 22px;
    height: 19px;
    background-image: url(../../../image/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, .0);
    border: 0;
    background-size: contain;
}

.element__like:hover {
    opacity: 0.5;
    cursor: pointer;
}

.element__like:active {}