.popup__close{
    background-image: url(../../../image/close-icon.png);
    position: absolute;
    width: 32px;
    height: 32px;
    right: -50px;
    top: -50px;
}


.popup__close:hover{
    opacity: 0.5;
}


@media screen and (max-width: 886px){
    .popup__close{
        max-width: 282px;
        right: 0px;
        top: -50px;
    }
}