.profile__edit-button{
    border: 1px solid #FFFFFF;
    width: 24px;
    height: 24px;
    background: url(../../../image/edit.png) center no-repeat;
}


.profile__edit-button:hover {
    opacity: 0.6;
}