.profile__info{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 886px){
    .profile__info{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 36px;
        margin-left: 20px;
    }
}
